<table>
  <%= for entry <- @entries do %>
    <div id={"entry-#{entry.id}"}>
      <h1><%= entry.title %></h1>
      <a href={entry.url}><%= entry.url %></a>
      <div>
        <span><%= live_redirect "Show", to: Routes.entry_show_path(@socket, :show, entry) %></span>
        <span><%= link "Read", to: "#", phx_click: "read", phx_value_id: entry.id, data: [] %></span>
      </div>
      <div><%= #raw entry.content |> String.slice(0..500) %></div>
    </div>
  <% end %>
</table>

